.mainSection {
    padding : 20px;
}

.profile {
    line-height: 1.7;
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.imageWrap {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin-block: 3em;

    img {
        width : 40vw;
        max-width: 100%;
        position: relative;
        z-index: 1;
        margin-left: 8vw;
    }

    .imageBackground {
        width: 60%;
        max-width: 1000px;
        background-color: $light_green;
        position: absolute;
        right: 0;
        margin-right: -20px;
        display: flex;
        justify-content: center;
        align-items: center;

        > img {
            width : clamp(150px, 100% , 500px);
            padding : 10%;
        }
    }
}

.caption {
    font-size: 12px;
    margin-block : 0.3em 2em;
}

.mobileNav {
    display: none;
    background-color: $blue;
    margin-inline : calc(-15%);
    padding : 20px;
    animation: fadein 0.5s ease-in-out;

    li {

        > a {
            color : white;
            margin-bottom: 1em;
        }
    }

    .login {
        font-size: .7em;
        margin-bottom: 2em;
    }

    .more {
        font-size: 1.3em;
    }

    .footerNav {
        margin-top: 2em;
        overflow: auto;
        width : 100%;

        > p {
            color : white;
            font-size: 1.5em;
        }
    }

    .flexContainer {
        min-width: 150%;
        margin-top: 2em;
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        gap : 1em;


        li {
            font-size: .8em;
        }
    }
}

@keyframes fadein {
    0% {
        transform : translateY(-1000px)
    } 100% {
        transform : translateY(0)
    }
}

.active {
    display: block;
}

.imageWrapMid {
    display: flex;
    align-items: center;
    min-height: 40vh;
    margin-left: -20px;
    margin-block: 3em;

    .midBackground {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: $green;
        max-width: 60%;
        // height : 10em;

        > img {
            padding : 2em;
            margin-left: -2em;
            width: 100%;
        }
    }

    img {
        width : 100%;
        margin-left: -1em;
    }
}

.imageWrapBottom {
    display: flex;
    justify-content: center;
    padding-block : 10%;

    .imageBackgroundBottom {
        background-color: $light_blue;
        display: flex;
        justify-content: flex-start;
        max-width: 100%;
        align-items: center;
        position: relative;
        min-height: 40vh;

        > img:first-child {
            width : clamp(10em , 100% , 20em);
            max-width: 50%;
            padding : 1em;
            margin-left: -10%;
        }

        > img:nth-child(2) {
            width : clamp(10em , 100% , 40em);
            min-width: 10em;
            padding : 1em;
            margin-right: -5em;
            position: absolute;
            right: 0;
        }
    }
}

.imageWrapLast {
    display: flex;
    flex-direction: column;
    margin-block: 2em;
    background-color: $light_blue;

    > img {
        width : 100%;
    }

    > p,a {
        padding : 20px;
    }

    a {
        color : $blue;
        font-weight: 700;
    }
}

.gridContainer {
    display: grid;

    .grid__item {
        margin-bottom: 1em
    }
}

form {
    margin-block: 1em;
    position: relative;

    input {
        width : 100%;
        padding : 15px 10px;
        background-color: $gray;
        border: none;
        font-size: .9em;
    }

    button {
        position: absolute;
        right : 0;
        padding : 15px 20px;
        background-color: $blue;
        color : white;
        border : none;
    }

    @include mQ(62.5em) {
        margin-block : 0;
    } 
}

.one > p:first-child {
    font-weight: 700;
}

.optionsWrapper {
    display: flex;
    flex-shrink: 1;
    gap : 5px;
    margin-bottom: 1em;

    select {
        padding : 5px 10px;
        border: none;
        background-color: $gray;

        option {
            font-weight: 700;
        }
    }
}

.footerLogoWrap {
    display: flex;
    align-items: center;

    img {
        width : 5em;
    }
}