@import '__mixin.scss';
@import '__variables.scss';
@import '__utility.scss';


* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito',sans-serif;
    font-size: 16px;
    text-align: left;
}

a {
    text-decoration: none;
    // color : black
}

ul,li {
    list-style: none;
}

main {
    padding-inline : 10%;
    header {
        display: flex;
        align-items: center;
        border-bottom: 3px solid $gray;
        margin-inline : -10%;
    
        img {
            max-width: 5em;
        }

        a {
            font-family: 'Nunito', sans-serif;
            font-size: 1.3em;
            font-weight: 700;
            display: flex;
            align-items: center;
            gap : .3em;
            color : black;

            > span {
                margin-top: 5px;

                > ion-icon {
                    font-size: 1em;
                    color : black;
                }
            }

        }

        .desktopNav {
            display: none;

            @include mQ(62.5em) {
                display: flex;
                justify-content: space-between;
                width : 100%;
    
                ul {
                    display: flex;
                    align-items: center;
                    gap : 1em;
    
                    &:first-child {
                        margin-left: 1em;
                    }
    
                }
    
                li {
                    cursor: pointer;
                }
    
                .try {
                    color : $blue;
                    font-weight: 700;
                }
    
                button {
                    border : none;
                    background: none;
                    font-family: 'Nunito',sans-serif;
                    font-weight: 700;
                    font-size: 1.3em;
                    cursor: pointer;
                }
            }
        }
    }

    .secondNav {
        padding : 20px;
        margin-inline : -10%;
        ul {
            display: flex;
            gap : .8em;
        }

        li {
            font-size: .8em;
            cursor: pointer;
            font-weight: 700;
        }
    }

    .imageHero {
        background-image: url('../assets/illustration\ -\ 11.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 30em;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        > h1 {
            font-family: 'Open Sans',sans-serif;
            font-size: 3.5em;
            color : $red;
        }

        p {
            line-height: 1.3;
        }
    }
}

.videoWrap {
    background-image: url('../assets/illustration\ -\ 4.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 2em;

    > ion-icon {
        padding : 20px;
        background-color: $blue;
        border-radius: 50%;
        margin : 2em;
        font-size: 1.5em;
        cursor: pointer;
    } 
}

.midImg {
    margin-block: 2em;
    width: 100%;   
}

footer {
    border-top: 3px solid $gray;
    padding : 2em 20px 20px 20px;

    .footerHeader {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 1em;
    }

    ul {
        margin-bottom: 1em;
    }

    li {
        margin-bottom: .5em;
        cursor: pointer;
    }

    .gridContainer {
        display: flex;
        flex-direction: column;

        @include mQ(62.5em) {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            justify-content: center;
        }

        .one {
            grid-column-start: 3;
            grid-column-end: 4;
        }

        .two {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .three {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2; 
        }
    }

    @include mQ(62.5em) {
        .footerList {
            display: flex;
            align-items: center;
            justify-content: space-between;
            grid-column-start: 1;
            grid-column-end: -1;

            ul {
                display: flex;
                gap : 10px;

                li {
                    font-size: .8em;
                    margin-bottom: 0;
                    font-weight: 700;
                }
            }
        }
    }
}

.socialMediaContainer {
    margin-top: 1em;

    ion-icon {
        padding : 10px;
        color : white;
        cursor: pointer;

        &:nth-child(1) {
            background-color: $light_blue;
        }

        &:nth-child(2) {
            background-color: $light_blue;
        }

        &:nth-child(3) {
            background-color: $red;
        }

        &:nth-child(4) {
            background-color: #FA8D27;
        }
    }
}

.copyright {
    font-weight: 700;
}


