.bottomNav {
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-inline: -10%;
  margin-bottom: 2em;
}
.bottomNav ul {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}
.bottomNav li {
  font-size: 0.8em;
  cursor: pointer;
  font-weight: 700;
}

.topSection {
  text-align: left;
}
@media screen and (min-width: 63.75em) {
  .topSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.topSection > h1 {
  font-size: 6vw;
  font-family: "Open Sans";
}
.topSection h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-top: 1em;
}
.topSection ion-icon {
  color: white;
  background-color: #0000ff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.bottomSection {
  margin-block: 2em 4em;
  margin-inline: -20%;
  background-color: #fbfa61;
  padding-bottom: 2em;
}
.bottomSection img {
  width: 100%;
  max-height: 30em;
}
.bottomSection .innerDesc {
  margin-top: 3em;
  margin-inline: 10%;
}
.bottomSection .innerDesc .headerLive {
  color: #0000ff;
}
.bottomSection .innerDesc p {
  font-size: 0.8em;
  margin-top: 1em;
}
.bottomSection .innerDesc .tagExplore {
  margin-top: 3em;
}
.bottomSection .gridWrapper {
  margin-block: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2px 1fr 2px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 2px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}
.bottomSection .gridWrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.bottomSection .gridWrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.bottomSection .gridWrapper > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.bottomSection .gridWrapper > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.bottomSection .gridWrapper > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.bottomSection .gridWrapper > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
@media screen and (min-width: 44.37em) {
  .bottomSection .gridWrapper {
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: 10%;
  }
  .bottomSection .gridWrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .bottomSection .gridWrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .bottomSection .gridWrapper > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .bottomSection .gridWrapper > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .bottomSection .gridWrapper > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .bottomSection .gridWrapper > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
}
.bottomSection .gridWrapper .grid_item {
  min-height: 8em;
  position: relative;
}
.bottomSection .gridWrapper .grid_item .textWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #899592;
  text-align: center;
  height: 100%;
  opacity: 0.8;
  padding: 20px;
}
.bottomSection .gridWrapper .grid_item .textWrap > a {
  color: white;
  font-weight: bold;
}
.bottomSection .gridWrapper .one,
.bottomSection .gridWrapper .two,
.bottomSection .gridWrapper .three,
.bottomSection .gridWrapper .four,
.bottomSection .gridWrapper .five,
.bottomSection .gridWrapper .six {
  background-repeat: no-repeat;
  background-size: cover;
}
.bottomSection .gridWrapper .one {
  background-image: url("./assets/poster-comping.webp");
}
.bottomSection .gridWrapper .two {
  background-image: url("./assets/poster-mpe.webp");
}
.bottomSection .gridWrapper .three {
  background-image: url("./assets/spectral-resonator.png");
}
.bottomSection .gridWrapper .four {
  background-image: url("./assets/poster-performance.webp");
}
.bottomSection .gridWrapper .five {
  background-image: url("./assets/screenshot-chance-tools.webp");
}
.bottomSection .gridWrapper .six {
  background-image: url("./assets/screenshot-expressive-sounds.webp");
}

.information {
  margin-inline: -20%;
}
.information h3 {
  margin-inline: 10%;
  font-size: 2.5em;
}
@media screen and (min-width: 63.75em) {
  .information h3 {
    text-align: center;
    font-size: 6vw;
  }
}
.information .secondHeroImg {
  background-image: url("./assets/poster-comping.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}
.information .secondHeroImg ion-icon {
  font-size: 2em;
  background-color: #0000ff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (min-width: 63.75em) {
  .information {
    margin-inline: -5%;
  }
}

.heroDesc {
  margin-top: 2em;
  margin-inline: 10%;
}
.heroDesc div {
  margin-bottom: 2em;
}
.heroDesc h4 {
  font-size: 1.3em;
  margin-bottom: 1em;
  font-family: "Open Sans";
}
@media screen and (min-width: 63.75em) {
  .heroDesc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-inline: 0;
    gap: 20px;
  }
}

.caption_second_hero {
  margin-left: 5.5%;
  font-size: 0.8em;
  font-weight: 900;
}
@media screen and (min-width: 63.75em) {
  .caption_second_hero {
    margin-left: 0;
  }
}

.informationBottom {
  margin-inline: -20%;
  margin-top: 10em;
  position: relative;
}
.informationBottom h3 {
  margin-inline: 10%;
  font-size: 2.5em;
}
@media screen and (min-width: 63.75em) {
  .informationBottom h3 {
    margin-inline: 0;
    font-size: 8vw;
  }
}
.informationBottom .thirdHeroImg {
  background-image: url("./assets/poster-mpe.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}
.informationBottom .thirdHeroImg ion-icon {
  font-size: 2em;
  background-color: #0000ff;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (min-width: 63.75em) {
  .informationBottom {
    margin-inline: -5%;
  }
}
.informationBottom button {
  color: #0000ff;
  padding: 15px;
  background-color: white;
  border: 2px solid #0000ff;
  cursor: pointer;
  font-weight: 900;
  margin-block: 5em;
  width: 80%;
  margin-inline: 10%;
}
@media screen and (min-width: 63.75em) {
  .informationBottom button {
    margin-inline: 0;
    width: 100%;
  }
}

.experiment {
  background-color: #c4fef9;
  margin-inline: -20%;
  margin-top: 10em;
  padding: 14%;
}
.experiment .experimentInfo {
  margin-bottom: 2em;
}
.experiment .experimentInfo .wrapperImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
}
.experiment .experimentInfo .wrapperImg img {
  width: 80%;
}
.experiment .experimentInfo ion-icon {
  color: white;
  background-color: #0000ff;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
.experiment .experimentInfo .lastWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}
.experiment .experimentInfo .lastWrap a {
  font-weight: 900;
}
.experiment .experimentInfo .newDevices {
  background-image: url("./assets/poster-new-devices.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20vh;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.experiment .experimentInfo .newDevices > ion-icon {
  border-radius: 50%;
}
.experiment h3 {
  font-size: 2.5em;
  margin-bottom: 2em;
}
@media screen and (min-width: 63.75em) {
  .experiment h3 {
    font-size: 8vw;
  }
}
.experiment h4 {
  font-size: 1.5em;
  margin-bottom: 1em;
}
@media screen and (min-width: 63.75em) {
  .experiment h4 {
    font-size: 4vw;
  }
}
.experiment p {
  margin-bottom: 1em;
  line-height: 1.5em;
}
@media screen and (min-width: 63.75em) {
  .experiment p {
    width: 50%;
  }
}

.doMore {
  margin-inline: -20%;
  margin-top: 3em;
  padding: 14%;
}
@media screen and (min-width: 63.75em) {
  .doMore .sectionItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.doMore .sectionItem .flex_item {
  margin-bottom: 2em;
}
@media screen and (min-width: 63.75em) {
  .doMore .sectionItem .flex_item {
    width: 50%;
  }
  .doMore .sectionItem .flex_item:nth-of-type(2) {
    width: 30%;
  }
}
.doMore .sectionItem .mainImg {
  background-image: url("./assets/poster-performance.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 70vh;
  margin-inline: -20%;
}
.doMore .sectionItem .caption_third_hero {
  margin-left: -5%;
  font-size: 0.8em;
  font-weight: 900;
}
.doMore .sectionItem ion-icon {
  color: white;
  background-color: #0000ff;
  padding: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 5em;
}
@media screen and (min-width: 63.75em) {
  .doMore .sectionItem:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.doMore .sectionItem:nth-of-type(2) .flex_item {
  margin-bottom: 2em;
}
@media screen and (min-width: 63.75em) {
  .doMore .sectionItem:nth-of-type(2) .flex_item {
    width: 60%;
  }
  .doMore .sectionItem:nth-of-type(2) .flex_item:nth-of-type(2) {
    width: 30%;
  }
}
@media screen and (min-width: 63.75em) {
  .doMore .sectionItem:nth-of-type(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.doMore .sectionItem:nth-of-type(3) .flex_item {
  margin-bottom: 2em;
}
@media screen and (min-width: 63.75em) {
  .doMore .sectionItem:nth-of-type(3) .flex_item {
    width: 50%;
  }
  .doMore .sectionItem:nth-of-type(3) .flex_item:nth-of-type(2) {
    width: 30%;
  }
}
.doMore .sectionItem .macroImg {
  background-image: url("./assets/screenshot-rack-improvements.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 130vh;
  width: 100%;
  margin-bottom: 4em;
}
@media screen and (min-width: 63.75em) {
  .doMore .sectionItem .macroImg {
    margin-right: -20%;
    width: unset;
    background-size: contain;
    min-height: 80vh;
  }
}
.doMore .sectionItem .chanceTools {
  background-image: url("./assets/screenshot-chance-tools.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 80vh;
  min-width: 100%;
  margin-bottom: 4em;
  margin-inline: -20%;
}
.doMore .sectionItem .followActions {
  background-image: url("./assets/screenshot-follow-actions.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 80vh;
  min-width: 100%;
  margin-bottom: 4em;
  margin-inline: -20%;
}
.doMore p {
  line-height: 1.5em;
  margin-bottom: 2em;
}
.doMore h3 {
  font-size: 2.5em;
  margin-bottom: 2em;
}
@media screen and (min-width: 63.75em) {
  .doMore h3 {
    font-size: 8vw;
  }
}
.doMore h4 {
  font-size: 1.5em;
  margin-bottom: 2em;
}

.instrument {
  margin-top: 2em;
  background-color: #fadee8;
  padding: 14%;
  margin-inline: -20%;
}
.instrument h3 {
  font-size: 3rem;
  margin-bottom: 2em;
}
@media screen and (min-width: 63.75em) {
  .instrument h3 {
    font-size: 5rem;
  }
}
.instrument h4 {
  font-size: 1.5em;
  margin-bottom: 1em;
}
@media screen and (min-width: 63.75em) {
  .instrument h4 {
    font-size: 3rem;
  }
}
.instrument .headerParagraph {
  max-width: 50ch;
  margin-bottom: 2em;
}
.instrument .instrumentWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}
.instrument .instrumentWrap .instrumentItem {
  width: 33.333%;
}
.instrument .instrumentWrap .instrumentItem .piano,
.instrument .instrumentWrap .instrumentItem .brass,
.instrument .instrumentWrap .instrumentItem .string {
  min-height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  margin-bottom: 1em;
}
.instrument .instrumentWrap .instrumentItem .piano ion-icon,
.instrument .instrumentWrap .instrumentItem .brass ion-icon,
.instrument .instrumentWrap .instrumentItem .string ion-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.5em;
  background-color: #0000ff;
  padding: 10px;
  color: white;
  cursor: pointer;
}
.instrument .instrumentWrap .instrumentItem .piano {
  background-image: url("./assets/upright-piano.webp");
}
.instrument .instrumentWrap .instrumentItem .brass {
  background-image: url("./assets/brass-quartet.webp");
}
.instrument .instrumentWrap .instrumentItem .string {
  background-image: url("./assets/string-quartet.webp");
}
.instrument .instrumentWrap .instrumentItem p {
  line-height: 1.5em;
}