@import '../../scss/_variables';
@import '../../scss/_mixin';

.bottomNav {
    padding : 20px;
    overflow-x : scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-inline : -10%;
    margin-bottom: 2em;


    ul {
        min-width: 100%;
        display: flex;
        gap : 1em;
    }

    li {
        font-size: .8em;
        cursor: pointer;
        font-weight: 700;
    }
}

.topSection {
    text-align: left;

    @include mQ(63.75em) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    > h1 {
        font-size: 6vw;
        font-family: 'Open Sans';
    }

    h2 {
        display: flex;
        align-items: center;
        gap : 20px;
        margin-top: 1em;

    }

    ion-icon {
        color: white;
        background-color: $blue;
        padding : 10px;
        border-radius: 50%;
        cursor: pointer;
    }
}

.bottomSection {
    margin-block: 2em 4em;
    margin-inline : -20%;
    background-color: #fbfa61;
    padding-bottom: 2em;

    img {
        width : 100%;
        max-height: 30em;
    }

    .innerDesc {
        margin-top: 3em;
        margin-inline: 10%;

        .headerLive {
            color : $blue;
        }

        p {
            font-size: .8em;
            margin-top: 1em;
        }

        .tagExplore {
            margin-top: 3em;
        }
    }

    .gridWrapper {
        margin-block: 1em;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap : 2px;

        @include mQ(44.37em) {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            margin-inline : 10%;
        }

        .grid_item {
            min-height: 8em;
            position: relative;

            .textWrap {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #899592;
                text-align: center;
                height : 100%;
                opacity: 0.8;
                padding : 20px;

                > a {
                    color : white;
                    font-weight: bold;
                }
            }
        }

        .one,
        .two,
        .three,
        .four,
        .five,
        .six {
            background-repeat: no-repeat;
            background-size: cover;
        }

        .one {
            background-image: url('./assets/poster-comping.webp');


        }

        .two {
            background-image: url('./assets/poster-mpe.webp');
        }

        .three {
            background-image: url('./assets/spectral-resonator.png');
        }

        .four {
            background-image: url('./assets/poster-performance.webp')
        }

        .five {
            background-image: url('./assets/screenshot-chance-tools.webp')
        }

        .six {
            background-image: url('./assets/screenshot-expressive-sounds.webp')
        }
    }
}

.information {
    margin-inline: -20%;

    h3 {
        margin-inline: 10%;
        font-size: 2.5em;

        @include mQ(63.75em) {
            text-align: center;
            font-size: 6vw;
        }
    }


    .secondHeroImg {
        background-image: url('./assets/poster-comping.webp');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 50vh;
        height : 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;


        ion-icon {
            font-size: 2em;
            background-color: $blue;
            color : white;
            padding : 10px;
            border-radius: 50%;
            cursor: pointer;
        }
    }


    @include mQ(63.75em) {
        margin-inline : -5%;
    }
}

.heroDesc {
    margin-top: 2em;
    margin-inline : 10%;

    div {
        margin-bottom: 2em;
    }

    h4 {
        font-size: 1.3em;
        margin-bottom: 1em;
        font-family: 'Open Sans';
    }

    @include mQ(63.75em) {
        display: flex;
        margin-inline : 0;
        gap :20px;
    }
}

.caption_second_hero {
    margin-left: 5.5%;
    font-size: 0.8em;
    font-weight: 900;

    @include mQ(63.75em) {
        margin-left: 0;
    }
}

.informationBottom {
    margin-inline: -20%;
    margin-top: 10em;
    position: relative;

    h3 {
        margin-inline: 10%;
        font-size: 2.5em;

        @include mQ(63.75em) {
            margin-inline : 0;
            font-size: 8vw;
        }
    }

    .thirdHeroImg {
        background-image: url('./assets/poster-mpe.webp');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 50vh;
        height : 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2em;

        
        ion-icon {
            font-size: 2em;
            background-color: $blue;
            color : white;
            padding : 10px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    @include mQ(63.75em) {
        margin-inline : -5%;
    }

    button {
        color : $blue;
        padding : 15px;
        background-color: white;
        border : 2px solid $blue;
        cursor: pointer;
        font-weight: 900;
        margin-block : 5em;
        width : 80%;
        margin-inline : 10%;

        @include mQ(63.75em) {
            margin-inline : 0;
            width : 100%;
        }
    }


    .learnMore {
        display: none;
        padding-inline : 10%;


        @include mQ(63.75em) {

        }

        .item {
            width : 100%;
            margin-bottom: 2em;
            @include mQ(63.65em) {
                width : 50%;
            }
        }

        .imageProd,
        .imageProdTwo {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            min-height: 50vh;
            margin-bottom: 1em;
        }

        .imageProd {
            background-image: url('./assets/screenshot-note-expression-view.webp');
        }

        .imageProdTwo {
            background-image: url('./assets/screenshot-expressive-sounds.webp');
        }

        h4 {
            font-size: 1.5em;
            margin-bottom: 1em;
        }
    }
    .active {
        display: block;

        @include mQ(63.75em) {
            display: flex;
            gap : 3em;
            padding-inline : 0;
        }
    }
}

.experiment {
    background-color: #c4fef9;
    margin-inline: -20%;
    margin-top: 10em;
    padding : 14%;

    .experimentInfo {
        margin-bottom: 2em;

        .wrapperImg {
            display: flex;
            flex-direction: column;
            margin-bottom: 2em;

            img {
                width : 80%;
            }

        }

        ion-icon {
            color : white;
            background-color: $blue;
            padding : 10px;
            margin-bottom: 5px;
            cursor: pointer;
        }

        .lastWrap {
            display: flex;
            align-items: center;
            gap : 2em;

            a {
                font-weight: 900;
            }
        }

        .newDevices {
            background-image: url('./assets/poster-new-devices.webp');
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 20vh;
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;


            >  ion-icon {
                border-radius: 50%;
            }
        }
    }

    h3 {
        font-size: 2.5em;
        margin-bottom: 2em;

        @include mQ(63.75em) {
            font-size: 8vw;
        }
    }

    h4 {
        font-size: 1.5em;
        margin-bottom: 1em;

        @include mQ(63.75em) {
            font-size: 4vw;
        }
    }

    p {
        margin-bottom: 1em;
        line-height: 1.5em;

        @include mQ(63.75em) {
            width : 50%;
        }
    }
}

.doMore {
    margin-inline: -20%;
    margin-top: 3em;
    padding : 14%;

    .sectionItem {

        @include mQ(63.75em) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .flex_item {
            margin-bottom: 2em;

            @include mQ(63.75em) {
                width : 50%;

                &:nth-of-type(2) {
                    width : 30%
                }
            }

        }

        .mainImg {
            background-image: url('./assets/poster-performance.webp');
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 70vh;
            margin-inline: -20%;

        }

        .caption_third_hero {
            margin-left: -5%;
            font-size: 0.8em;
            font-weight: 900;
        }
        
        ion-icon {
            color : white;
            background-color: $blue;
            padding : 20px;
            margin-bottom: 5px;
            cursor: pointer;
            border-radius: 50%;
            font-size: 5em;
        }

        &:nth-of-type(2) {

            @include mQ(63.75em) {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
            }

            .flex_item {
                margin-bottom: 2em;
    
                @include mQ(63.75em) {
                    width : 60%;
    
                    &:nth-of-type(2) {
                        width : 30%
                    }
                }
    
            }
        }

        &:nth-of-type(3) {

            @include mQ(63.75em) {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .flex_item {
                margin-bottom: 2em;
    
                @include mQ(63.75em) {
                    width : 50%;
    
                    &:nth-of-type(2) {
                        width : 30%
                    }
                }
    
            }
        }
        .macroImg {
            background-image: url('./assets/screenshot-rack-improvements.webp');
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 130vh;
            width :100%;
            margin-bottom: 4em;

            @include mQ(63.75em) {
                margin-right: -20%;
                width :unset;
                background-size: contain;
                min-height: 80vh;
            }
        }

        .chanceTools {
            background-image: url('./assets/screenshot-chance-tools.webp');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            min-height: 80vh;
            min-width :100%;
            margin-bottom: 4em;
            margin-inline :-20%;
        }

        .followActions {
            background-image: url('./assets/screenshot-follow-actions.webp');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            min-height: 80vh;
            min-width :100%;
            margin-bottom: 4em;
            margin-inline :-20%;
        }
    }
    
    p {
        line-height: 1.5em;
        margin-bottom: 2em;
    }

    h3 {
        font-size: 2.5em;
        margin-bottom: 2em;

        @include mQ(63.75em) {
            font-size: 8vw;
        }
    }

    h4 {
        font-size: 1.5em;
        margin-bottom: 2em;
    }
}

.instrument {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #fadee8;
    padding : 14%;
    margin-inline : -20%;

    h3 {
        font-size: 3rem;
        margin-bottom: 2em;

        @include mQ(63.75em) {
            font-size: 5rem;
        }
    }

    h4 {
        font-size: 1.5em;
        margin-bottom: 1em;
        @include mQ(63.75em) {
            font-size: 3rem;
        }
    }

    .headerParagraph {
        max-width: 50ch;
        margin-bottom: 2em;
    }

    .instrumentWrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;

        @include mQ(43.75em) {
            flex-direction: row;
            gap : 2em;
        }

        .instrumentItem {

           
            @include mQ(43.75em) {
                width : 33.333%;
            }

            .piano,
            .brass,
            .string,
            .voice,
            .mood,
            .drone {
                min-height: 35vh;
                background-size: cover;
                background-repeat: no-repeat;
                width : 50%;
                position: relative;
                margin-bottom: 1em;

                @include mQ(43.75em) {
                    width : 100%;
                }

                ion-icon {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    font-size: 1.5em;
                    background-color: $blue;
                    padding : 10px;
                    color : white;
                    cursor: pointer;
                }
            }

            .piano {
                background-image: url('./assets/upright-piano.webp');
            }

            .brass {
                background-image: url('./assets/brass-quartet.webp');
            }

            .string {
                background-image: url('./assets/string-quartet.webp');
            }

            .voice {
                background-image: url('./assets/voice-box.webp');
            }

            .mood {
                background-image: url('./assets/mood-reel.webp');
            }

            .drone {
                background-image: url('./assets/drone-lab.webp');
            }

            p {
                line-height: 1.5em;
            }
        }
    }
}

.liveFeature {
    font-weight: 900;
}

.tryLive {
    margin-top: 3em;
    background-color : #fbfa61;
    margin-inline : -20%;
    

    @include mQ(63.75em) {
        display: flex;
    }

    .leftPart {
        padding : 8rem;
        width : 50%;
    }

    h3 {
        font-size: 2rem;
        margin-bottom: 2em;

        @include mQ(63.75em) {
            font-size: 3rem;
        }
    }

    p,a {
        font-weight: 900;
        font-size: 1.5em;
    }

    p {
        margin-bottom: 1em;
    }

    .creationSpace {

        display: none;
        @include mQ(63.75em) {   
            display: block;         
            background-image: url('./assets/creation-space-top-down-5.webp');
            width: 50%;
            height : auto;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

